// 再利用できるパターンとして、小さな単位のモジュールを定義。
// ※marginなど余白は定義しない。あくまでパーツとして扱う
// c-button, c-grid, c-input .....
//topImageArea--------------------
// $black: hsl(0, 0%, 4%) !default;
// $black-bis: hsl(0, 0%, 7%) !default;
// $black-ter: hsl(0, 0%, 14%) !default;
// $white-ter: hsl(0, 0%, 96%) !default;
// $white-bis: hsl(0, 0%, 98%) !default;
// $white: hsl(0, 0%, 100%) !default;
// $grey-darker: hsl(0, 0%, 21%) !default;
// $grey-dark: hsl(0, 0%, 29%) !default;
// $grey: hsl(0, 0%, 48%) !default;
// $grey-light: hsl(0, 0%, 71%) !default;
// $grey-lighter: hsl(0, 0%, 86%) !default;
@import "./variables.scss";
//topImageArea-------------------------------------
.c-imagearea{
    margin:0 0 32px 0;
    padding:32px 0;
    overflow: hidden;
    background: $black;
}
.c-topimgarea-header{
    width:100%;
    padding: 8px 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    @media (min-width: 960px) {
    padding: 16px 0;
    }
}
.topimagearea-header__title{
    color:$white;
    font-size: $size-5;
    font-weight: 100;
    line-height: 1.2;
    margin:0;
    padding:0;
    @media (min-width: 960px) {
        font-size: $size-1;
        font-weight: 300;
        line-height: 1.5;
    }
}
.topimagearea-header__subtitle{
    color:$white;
    font-size: $size-7;
    font-weight: 100;
    line-height: 1.2;
    margin:8px 0;
    padding:0;
    @media (min-width: 960px) {
        font-size: $size-5;
        font-weight: 300;
        line-height: 1.5;
    }
}
.c-imagearea-body{
    margin:0px auto;
    
} 
.c-imagearae-image > img{
    width:100%;
    height: auto;
} 
//topImageArea-------------------------------------
.c-postarea{
    background-color:$white-ter;
    box-shadow:none;
    margin-bottom: 16px;
    @media (min-width: 960px) {
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        margin-bottom: 32px;
    }
}
.c-postarea-header{
    padding:0 16px 0 16px;
}
.c-postarea-body-image{
    padding: 0 0 16px 0 ;
    @media (min-width: 960px) {
        padding:0 16px 32px 16px;
    }
}
.c-postarae-description{
    padding:0 16px 0 16px;
    display:flex;
    justify-content: flex-end;
}

.c-postarea-body{
    width:100%;
    padding:0 16px 0 16px;
    display:flex;
    flex-flow: column wrap;
    @media (min-width:960px){
        // padding:0 15% 0 15%;
        flex-flow: row wrap;
    }
    margin-bottom:16px;
    
}
.c-postarea-body-location{
    width:100%;
    @media (min-width:960px){
        width:25%;
    }
    margin-bottom:16px;
}
.c-postarea-body-article{
    width:100%;
    @media (min-width:960px){
        width:50%;
    }
    margin-bottom:16px;
    padding-right:16px;

}
.c-postarea-body-tags{
    width:100%;
    @media (min-width:960px){
        width:25%;
    }
}
.c-postarea-body-tags-title{
    margin-bottom:4px;
}
.c-tag{
    border:1px solid $grey-dark;
    border-radius: 4px;
    padding: 4px;
    margin-right:4px;
    color: $grey-dark;
}

.c-postarae-image > img{
    width:100%;
    height: auto;
} 
//topImageArea-------------------------------------
.c-locationarea{
    margin:0 0 32px 0;
    padding:32px 0;
    overflow: hidden;
    background: $black-ter;
    overflow: hidden;
    color:$white;
}
.c-locationarea-header{
    margin: 0 auto 16px;
}
.c-locationarea-body{
    width:100%;
    display: flex;
    flex-flow: column wrap;
    @media (min-width: 960px) {
        flex-flow: row wrap;
    }
}
.c-locationarea-section-element{
    width:100%;
    padding:0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    @media (min-width: 960px) {
        width:50%;
        padding:100px;
    }

}
.c-locationarea-googlemap {
   height: 50vh;
   width: 100%;
}
.c-locationarea-section-video > video{
    height: 50vh;
    width: 100%;
}
.c-paginations{
    margin:0 0 32px 0;
    padding:32px 0;
    overflow: hidden;
}
.c-locationarea-body{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

}
