// ComponentとProjectのモディファイア（パターン）で解決することができないスタイル、
// また、調整のための便利クラスなどを管理。
// Component、ProjectのObjectを無駄に増やしてしまうことを防せぐ。
// Object自体が持つべきではないmarginの代わりに.u-mb10 { margin-bottom: 10px; }のような隣接するモジュールとの間隔をつくるといった役割。
// すべての余白marginをUtilityクラスでつけることはしない。
// あくまで補助としての役割であること。
// Projectとして定義するには要素が少なすぎる場合やcomponent単体で使うときに使用
// u-margin, u-color, u-fontsize, u-clearfix ......
@import "./variables.scss";
.u-overflow-hidden{
    overflow:hidden;
}
.u-margin-right-8{
    margin-right: 8px
}
.u-image-width-fit{
    width:100%;
    height:auto;
}
.image-size{
    width:300px;
    height:auto;
}
.image-size-w200{
    width:600px;
    height:auto;
}

.u-display-none{
    display:none;
}
.u-backgroung-white{
    background-color:$white;
}


/*********** Module Spacer ***********/
.u-spacer--8 {
    height: .8rem;
  }
  .u-spacer--16 {
    height: 1.6rem;
  }
  .u-spacer--24 {
    height: 2.4rem;
  }
  u-overflow-hidden {
    height: 3.2rem;
  }
  .u-spacer--40 {
    height: 4rem;
  }
  .u-spacer--48 {
    height: 4.8rem;
  }
  .u-spacer--56 {
    height: 5.6rem;
  }
/*********** Module center ***********/
.u-center-text-align{
   text-align:center
}
.u-center-margin{
    margin:0 auto
}
.u-center-flex{
    display:flex;
    justify-content: center;
    align-items: center;
}
.u-center-transform{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
}
.u-display-none{
    display:none;
}
.u-display-block{
    display:block;
}
.u-position-absolute{
    position:absolute;
}
.u-position-relative{
    position:relative;
}


// test----------------------------
.u-test-box-10px{
    width:100px;
    height:100px;
    background-color:red;
}
.u-test-box-1rem{
    width:10rem;
    height:10rem;
    background-color:green;
}
.u-test-spacer-small{
    width:100%;
    height:1.6rem;
    background-color:pink;
}
.u-test-spacer-middle{
    width:100%;
    height:3.2rem;
    background-color:rgb(250, 161, 176);
}
.u-test-spacer-large{
    width:100%;
    height:4.8rem;
    background-color:rgb(252, 119, 141);
}