// ComponentとProjectのモディファイア（パターン）で解決することができないスタイル、
// また、調整のための便利クラスなどを管理。
// Component、ProjectのObjectを無駄に増やしてしまうことを防せぐ。
// Object自体が持つべきではないmarginの代わりに.u-mb10 { margin-bottom: 10px; }のような隣接するモジュールとの間隔をつくるといった役割。
// すべての余白marginをUtilityクラスでつけることはしない。
// あくまで補助としての役割であること。
// Projectとして定義するには要素が少なすぎる場合やcomponent単体で使うときに使用
// u-margin, u-color, u-fontsize, u-clearfix ......
@import "./variables.scss";
.u-margin-right-8{
    margin-right: 8px
}
.image-size{
    width:300px;
    height:auto;
}
.image-size-w200{
    width:600px;
    height:auto;
}
.image-fit-cover{
    object-fit: cover;
    width:200px;
    height:auto;
    @media (min-width:600px){
        width:320px;
    }
    @media (min-width:960px){
        width:420px;
    }
    @media (min-width:1260px){
        width:600px;
    }
    // width:33.3%;
    // height:100px;
    // object-fit: contain;
    // object-fit: scale-down;
    // object-fit: none;
    vertical-align: bottom;
    margin:0;
}
.u-display-none{
    display:none;
}
